{% load static %}
<html>
    <head>
        <title>ソシオス・イー・パートナーズ（サンプルアプリ）</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
        <meta charset="utf-8">
        <!--<script src="static/brython.js"></script>
        <script src="static/brython_stdlib.js"></script>-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython_stdlib.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/spinner.css">
    </head>
    <body onload="brython()">
        <div class="page-header">
            <!--{% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}-->
            <h1><a href="/">来週のサザエさんのじゃんけんの手を予測しよう！</a></h1>
        </div>
        <!--<div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>-->
        <!--<p>身長(メートル)
        <input type="text" id="height" />
        <p>体重(キログラム)
        <input type="text" id="weight" />
        <br><button id="execute">計算だ!</button>

        <div id="result"></div>-->



        <div align="center" class="container">
            <p align="left">このアプリは，リザバーコンピューティングと呼ばれる再帰型ニューラルネットのデモアプリです．</p>
            <p align="left">サンプルデータとして，1996年から2020年末までのサザエさんのじゃんけんの順番（データ数：約1,250）を人工知能へ学習させています．「サザエさんのじゃんけん予想」ボタンをクリックすると次のじゃんけんの手を人工知能が予想してくれます．括弧の数字は，2021年の年始から現在までの予想結果の正解率を示しています．</p>
            <p align="left">去年の予測平均は，56%の確率で次週のサザエさんのじゃんけんの手を予測することが可能でした（※1996年から2019年末までのデータを使用して，2020年分のじゃんけんを予想）．</p>
            <p align="left">「サザエさんのじゃんけん予想」ボタンをクリックする度に人工知能が学習し直すため，学習結果は毎回異なり，誤差が生じます．（計算には，30秒から1分程かかります．）</p>
            <label>サンプルデータ：</label>
            <button id="execute">サザエさんのじゃんけん予想</button><br>
            <label>グー：１　チョキ：２　パー：３</label><br><br>
            <p align="left">オリジナルのデータを使用することも可能です．例えば，星座占いの結果を予想したければ，「パターン数」を「12」にし，5日間分のデータを入力する場合は，「データ数」を「5」にして「設定」ボタンをクリックしてください．パターン１：おひつじ座，パターン２：おうし座，パターン３：ふたご座...のように，各星座に適当なパターンを割り当てます．次に，上から順番に占いで1位となった星座のパターンにチェックを入れ，「予想」ボタンをクリックすると翌日の星座占いで1位となる星座を，人工知能が予想します！</p>
            <label>オリジナル：</label>
            <label>パターン数</label>
            <input type="text" name="pattern" value="3" id="pattern">
            <label>データ数</label>
            <input type="text" name="trial" value="10" id="trial">
            <button type="button" id="set-button">設定</button>
        </div>
        {% csrf_token %}
        <div align="right" class="container">
            <button type="button" style="background-color: palegoldenrod;" id="pred"><font size="5">予想</font></button>
        </div>
        <br>
        <div align="right" class="container">
            <p align="right">括弧内の数字は，予想結果の正解率</p>
            <table border="0">
                <thead>
                    <tr>
                        <font size="5">次の値</font>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td><font size="10"><div id="result"></div></font></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <script>pend=3+1;dend=10+1;</script>
        <div class="container" align="center" id="original-data"></div>
        <script>
            document.getElementById("set-button").onclick = function(){
                pend = document.getElementById("pattern").value + 1;
                dend = document.getElementById("trial").value + 1;
                tmp_doc1 = '';
                for (i=1; i<pend/10; i++) {tmp_doc1 = tmp_doc1 + '<td>パターン' + i + '</td>';}
                tmp_doc2 = '';
                for (i=1; i<dend/10; i++) {
                    tmp_doc2 = tmp_doc2 + '<tr><td>' + i + '</td>';
                    tmp_doc = '';
                    for (j=1; j<pend/10; j++) {
                        tmp_doc = tmp_doc + '<td><label><input type="checkbox" name="q' + i +'" id="'+ j + '"></label></td>';
                    }
                    tmp_doc2 = tmp_doc2 + tmp_doc + '</tr>';
                }
                document.getElementById("original-data").innerHTML = 
                '<div class="container" align="center" >'+
                '<table border="1">'+
                '<thead>'+
                    '<tr>'+
                        '<td>データ番号</td>'+
                        tmp_doc1 + 
                    '</tr>'+
                '</thead>'+
                '<tbody>'+
                    tmp_doc2 +
                '</tbody>'+
                '</table>'+
                '</div>';
            }
        </script>
        <!--<script type="text/python">
            from browser import document
            def func(event):
                document["result"].text = 1
            document["execute"].bind("click", func)
        </script>-->
        <script>
            // https://docs.djangoproject.com/en/3.0/ref/csrf/
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function(){
                switch (xhr.readyState){
                    case 0:
                        console.log('uninitialized');
                        break;
                    case 1:
                        console.log( 'loading...' );
                        break;
                    case 2:
                        console.log( 'loaded.' );
                        break;
                    case 3:
                        console.log( 'interactive... '+xhr.responseText.length+' bytes.' );
                        break;
                    case 4:
                        if( xhr.status == 200 || xhr.status == 304 ) {
                            var data = xhr.responseText;
                            console.log( 'COMPLETE! :'+data );
                        } else {
                            console.log( 'Failed. HttpStatus: '+xhr.statusText );
                        }
                        break;
                }
            };

            xhr.open('GET', "{% url 'blog:api' %}", false);
            xhr.abort();

            $('#execute').on('click', function(){
                $('#result').html('<div class="spinner"></div>');
                $.ajax({
                    type: 'GET',
                    url: "{% url 'blog:api' %}",
                    processData: false,
                    contentType: false,
                    success: function(data, textStatus){
                        $('.spinner').css('display', 'none');
                        $('#result').html(data);
                    },
                    error: function(xhr, textStatus, errorThrown){
                        $('.spinner').css('display', 'none');
                        alert('Error! '+ textStatus + ' ' + errorThrown);
                    }
                });
            });
            $('#pred').on('click', function(){
                $('#result').html('<div class="spinner"></div>');
                var od = [];
                var cnt = 0;
                $('input:checked').each(function(){
                    od.push(this.id);
                    cnt += 1;
                })
                $.ajax({
                    type: 'POST',
                    url: "{% url 'blog:api2' %}",
                    data: od,
                    processData: false,
                    contentType: false,
                    success: function(data, textStatus){
                        $('.spinner').css('display', 'none');
                        $('#result').html(data);
                    },
                    error: function(xhr, textStatus, errorThrown){
                        $('.spinner').css('display', 'none');
                        alert('Error! '+ textStatus + ' ' + errorThrown);
                    }
                });
            })
        </script>
    </body>
</html>